form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
  margin-top: 2em;
}
form > input {
  margin-bottom: 0.5em;
  padding: 0.5em;
}

form > textarea {
  min-height: 150px;
  padding: 0.5em;
}

.form-submit {
  color: white;
  background-color: #252525;
  padding: 0.5em 0;
  border: none;
}
