header {
  padding: 1em;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav > img {
  height: 50px;
}

nav > ul {
  list-style: none;
}
ul > li {
  display: inline;
}

li > a {
  font-size: clamp(1rem, 3vw, 2rem);
  text-decoration: none;
  margin-left: 1em;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: #555;
}

.nav li > a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1px;
}
.nav li > a:hover:after {
  width: 100%;
}
