section {
  text-align: center;
  padding: 0.5em;
}

section p {
  margin: 0.4em 0 0.4em 0;
}
.product-title {
  font-size: clamp(2rem, 3vw, 3.5rem);
}
.product-price {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.product h2 {
  font-size: clamp(1.5rem, 3vw, 2rem);
}
